.home-container {
	margin-top: 10px;
	min-width: 600px;
	width: 100%;
}

.toolbar {
	margin-bottom: 12px;
}

.ant-collapse {
	flex-grow: 1;
}

.list-item-header {
	display: flex;
	align-items: flex-start;
	width: 100%;
	gap: 16px;
	/* Set a minimum width for the header to prevent shrinking */
	min-width: 500px;
}

.header-left {
	padding-top: 4px;
}

.header-center {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-size: 14px;
}

/* .file-name {
	font-weight: 600;
} */

.header-right {
	/* width: 180px; */
	height: 80px;
	background: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	/* Ensure the right section doesn't shrink */
	min-width: 180px;
}

.header-right img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.no-preview {
	font-size: 12px;
	color: #999;
	text-align: center;
}

.collapse-body {
	padding-top: 8px;
}

.edit-button {
	margin-top: 10px;
	text-align: right;
}

.truncated-text {
	display: block;
	overflow: hidden;
	line-clamp: 3;
	box-orient: vertical;
	text-overflow: ellipsis;
}

.cancel-button-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: 10px;
}